<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupStaticAttributes="false"
         processIsolation="false"
         backupGlobals="false"
         stopOnFailure="false"
         bootstrap="./tests/bootstrap.php"
         colors="true">

    <testsuites>
        <testsuite name="PastryBag Test Suite">
            <directory suffix="Test.php">./tests/TestCase</directory>
        </testsuite>
    </testsuites>
</phpunit>